<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
{% extends 'base.html'%}
    {% block content %}
    <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        {% for post in posts %}
        <h1>
          {% block title %}
            {{ post.author.get_full_name }}
          {% endblock %}
        </h1>
        <p>
          {{ post.group }}
        </p>
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date }}
            </li>
          </ul>      
          <p>
            {{ post.text }}
          </p>         
        </article>
        {% endfor %}
        <!-- под последним постом нет линии -->
      </div> 
    {% endblock %}   
</html>